*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: calibri, Verdana;
  position: relative;
  z-index: -1;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.burger {
  width: 30px;
  height: 20px;

  display: none;

  cursor: pointer;

  z-index: 100;

  position: relative;

  span {
    display: inline-block;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 2px;
    background: $primary-blue;

    transition: 0.5s ease;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:nth-child(2) {
      width: 50%;
    }

    &:nth-child(3) {
      width: 75%;
      align-self: flex-end;
    }
  }
}

.CTA {
  padding-bottom: 1rem;
}

.title {
  font-family: STIXGeneral;
  font-size: 2rem;
}

.date {
  color: $text-blue;
  opacity: 0.7;
}

.tag {
  background: transparentize($primary-blue, $amount: 0.96);
  display: inline-block;

  color: $primary-blue;
  padding: 6px 10px;
  margin: 5px 0;

  border-radius: 3px;
}

.closed {
  color: red;
}

.hours {
  color: $text-blue;
}

.day {
  display: flex;
  justify-content: space-between;

  &:not(:nth-of-type(1)) {
    margin-top: 1rem;
  }
}

.filter-options {
  color: $black;

  input[type="checkbox"] {
    margin-right: 0.8rem;
  }

  li {
    margin-bottom: 0.4rem;
  }
}

.promotion-text {
  color: $text-blue;
  margin-top: 1rem;

  line-height: 1.5;
}

.main-button {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  margin: 2rem 0 0.5rem;

  font-size: 1rem;

  background: transparentize($primary-blue, $amount: 0.94);
  color: $primary-blue;

  border: none;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    display: inline-block;
    margin-left: 10px;

    width: 12px;
    height: 12px;

    background-image: url("../../assets/svg/arrow-blue.svg");
    background-size: cover;
    background-position: center center;

    transform: rotate(-180deg);
  }
}

.back {
  color: $black;

  position: relative;
  display: inline-block;

  padding-left: 15px;

  margin-bottom: 3rem;

  &::before {
    position: absolute;
    left: 0;
    top: 5px;
    display: inline-block;
    content: "";

    width: 10px;
    height: 10px;

    background-image: url("../assets/svg/arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;

    transform: rotate(90deg);
  }
}
