*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: calibri, Verdana;
    position: relative;
    z-index: -1;

    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.burger {
    width: 30px;
    height: 20px;

    display: none;

    cursor: pointer;

    span {
        display: inline-block;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 2px;
        background: $primary-blue;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:nth-child(2) {
            width: 50%;
        }

        &:nth-child(3) {
            width: 75%;
            align-self: flex-end;
        }
    }
}

.CTA {
    padding-bottom: 1rem;
}

.title {
    font-family: STIXGeneral;
    font-size: 2rem;
}

.date {
    color: $text-blue;
    opacity: 0.7;
}

.tag {
    background: transparentize($primary-blue, $amount: 0.96);
    display: inline-block;

    color: $primary-blue;
    padding: 6px 10px;
    margin: 5px 0;

    border-radius: 3px;
}

.closed {
    color: red;
}

.hours {
    color: $text-blue;
}

.filter-options {
    color: $black;

    input[type="checkbox"] {
        margin-right: 0.8rem;
    }

    li {
        margin-bottom: 0.4rem;
    }
}

.promotion-text {
    color: $text-blue;
    margin-top: 1rem;
}

.back {
    color: $black;

    position: relative;
    display: inline-block;

    padding-left: 15px;

    margin-bottom: 3rem;

    &::before {
        position: absolute;
        left: 0;
        top: 5px;
        display: inline-block;
        content: "";

        width: 10px;
        height: 10px;

        background-image: url("../assets/svg/arrow.svg");
        background-size: cover;
        background-repeat: no-repeat;

        transform: rotate(90deg);
    }
}
