$top-nav-button-green: #71e177;
$top-nav-button-text: #399d3f;
$top-nav-button-gray: #e7eaf0;

$top-nav-bg: #f3f5f9;
$top-nav-border: #e5eaf5;

$primary-blue: #0477ff;
$text: #304767;
$text-blue: #515a75;

$black: #000;
$white: #fff;
$gray: #f1f1f1;

$hero-bg: #242e41;
$card-bg: #f9fcff;
$card-bg2: #f4f9fd;

$articles-bg: #f8fafd;
$footer-text: #8a8a8a;
