.list {
  margin-top: 13rem;
  padding-bottom: 2rem;
  width: 100%;
  color: $white;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;
    margin: 10px 0;

    &:nth-of-type(1) {
      .list__item__number {
        &::before {
          background: $orange;
        }
      }
    }
    &:nth-of-type(2) {
      .list__item__number {
        &::before {
          background: lighten($purple, $amount: 0.9);
        }
      }
    }
    &:nth-of-type(3) {
      .list__item__number {
        &::before {
          background: $green;
        }
      }
    }
    &:nth-of-type(4) {
      .list__item__number {
        &::before {
          background: $orange;
        }
      }
    }
    &:nth-of-type(5) {
      .list__item__number {
        &::before {
          background: $purple;
        }
      }
    }
    &:nth-of-type(6) {
      .list__item__number {
        &::before {
          background: $orange;
        }
      }
    }
    &:nth-of-type(7) {
      .list__item__number {
        &::before {
          background: $top-nav-button-green;
        }
      }
    }
    &:nth-of-type(8) {
      .list__item__number {
        &::before {
          background: $orange;
        }
      }
    }

    &__number {
      margin-right: 10px;

      position: relative;

      &::before {
        position: absolute;
        display: inline-block;
        top: 22px;
        width: 100%;
        height: 2px;
        content: "";
        background: $primary-blue;
      }
    }

    &__text {
      h3 {
        margin-bottom: 0.3rem;
        font-size: 1rem;
      }
      p {
        width: 150px;
        line-height: 1.5;
        opacity: 0.67;
      }
    }
  }
}
