.list {
  margin-top: 13rem;
  padding-bottom: 2rem;
  width: 100%;
  color: $white;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;
    margin: 10px 0;

    &__number {
      margin-right: 10px;

      position: relative;

      &::before {
        position: absolute;
        display: inline-block;
        top: 22px;
        width: 100%;
        height: 2px;
        content: "";
        background: $primary-blue;
      }
    }

    &__text {
      h3 {
        margin-bottom: 0.3rem;
        font-size: 1rem;
      }
      p {
        width: 150px;
        line-height: 1.5;
        opacity: 0.67;
      }
    }
  }
}
