.article-detail {
  margin: 5rem 0;

  .container {
    & > div {
      p {
        margin-bottom: 0.3rem;
        line-height: 1.5;
      }
    }
  }

  div {
    &:nth-child(2) {
      h2:nth-of-type(2) {
        margin: 3rem 0 2rem;
      }
      div {
        position: relative;

        margin: 2rem 0;
        padding: 0 0 20px 50px;

        border-bottom: 1px solid $top-nav-border;

        max-width: 700px;

        &::before {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 2px;
          content: "";

          width: 10px;
          height: 10px;

          background-image: url("../../assets/svg/link.svg");
          background-size: 13px;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: transparentize($primary-blue, $amount: 0.9);
          padding: 15px;

          border-radius: 100%;
        }
      }

      article {
        padding: 1rem 0;
        border-bottom: 1px solid $top-nav-border;
        max-width: 700px;
        h3 {
          color: $primary-blue;
        }

        p:nth-child(2) {
          margin: 0.5rem 0 1rem;
        }
        p:nth-child(3) {
          margin-bottom: 0.8rem;
          line-height: 1.5;
        }
      }
    }
  }
}

.article__container {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  &__item {
    h1 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    .article-text {
      line-height: 1.5;
    }

    &:nth-of-type(2) {
      justify-self: end;
      a {
        display: inline-block;

        box-shadow: 0 4px 2px -2px $gray;
        border: 1px solid $top-nav-border;
        border-radius: 3px;
        background: $white;

        width: 300px;

        padding: 20px 30px;

        h2 {
          color: $primary-blue;
        }

        p {
          color: $black;
        }
      }
    }
  }
}
