.hero {
  min-height: 40rem;
  background-image: url("../assets/img/hero-visual@2x.png");
  background-size: cover;

  position: relative;

  z-index: -2;

  &::before {
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    background: linear-gradient(
      to bottom,
      transparentize($hero-bg, $amount: 0.4),
      $hero-bg
    );

    position: absolute;
    top: 0;

    z-index: -3;
  }

  &__text {
    padding-top: 10rem;
    color: $white;

    position: relative;
    pointer-events: all;

    &__main {
      max-width: 570px;
      h1 {
        font-size: 2.4rem;
        line-height: 1.3;
        font-family: STIXGeneral;
      }

      p {
        margin: 0.5rem 0 3rem;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    a {
      color: $white;
      border-bottom: 1px solid $white;
      &:nth-of-type(2) {
        margin-left: 2rem;
      }
    }
  }
}
