.hero-small {
    position: relative;
    margin-bottom: 5rem;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 29rem;
        background: linear-gradient(
            to bottom,
            transparentize($hero-bg, $amount: 0.4),
            $hero-bg
        );

        position: absolute;
        z-index: -19;
    }
    &__text {
        padding-top: 10rem;
        color: $white;
        h1 {
            font-size: 2.4rem;
            font-family: STIXGeneral;
        }

        &__list {
            display: flex;
            margin: 2rem 0 6rem;

            li {
                position: relative;
                padding-left: 30px;
                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;

                    content: "";

                    display: inline-block;
                    width: 20px;
                    height: 20px;

                    // background: $white;
                    background-image: url("../../assets/svg/check.svg");
                    background-size: cover;
                }
            }

            li:not(:nth-of-type(1)) {
                margin-left: 3rem;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 5fr;

        aside {
            margin-right: 4rem;
        }
        &__item {
            &__card {
                background: $white;
                color: $footer-text;
                width: 420px;

                padding: 20px 34px;
                margin-bottom: 2rem;

                border-radius: 3px;
                border: 1px solid $top-nav-border;

                box-shadow: 0 4px 2px -2px $gray;

                h3 {
                    color: $black;
                    margin-bottom: 1rem;
                }

                button {
                    display: inline-block;
                    width: 100%;
                    padding: 20px 0;
                    margin: 2rem 0;

                    font-size: 0.8rem;

                    background: transparentize($primary-blue, $amount: 0.94);
                    color: $primary-blue;

                    border: none;
                    border-radius: 3px;
                }

                .appointment-list {
                    display: flex;
                    justify-content: space-between;

                    li {
                        margin-bottom: 20px;
                    }

                    a {
                        padding: 20px 30px;
                        border: 1px solid
                            transparentize($primary-blue, $amount: 0.8);
                        border-radius: 3px;

                        color: $primary-blue;
                    }
                }
            }

            &__promotion {
                background: $white;
                padding: 45px 35px;
                margin-bottom: 2rem;

                border-radius: 3px;
                border: 1px solid $top-nav-border;

                box-shadow: 0 4px 2px -2px $gray;
            }
            .card-news {
                width: 320px;
            }
        }
    }

    &__card {
        width: 400px;
        background: $white;
        border: 1px solid $top-nav-border;
        border-radius: 3px;

        box-shadow: 0 4px 2px -2px $gray;

        padding: 20px 30px;

        p {
            color: lighten($text-blue, $amount: 25);
        }

        button {
            display: inline-block;
            position: relative;
            width: 100%;
            padding: 20px 10px 20px 0;
            margin: 2rem 0;

            font-size: 1rem;

            background: transparentize($primary-blue, $amount: 0.94);
            color: $primary-blue;

            border: none;
            border-radius: 3px;

            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: "";
                display: inline-block;
                // position: absolute;
                margin-left: 10px;

                width: 15px;
                height: 15px;

                background-image: url("../../assets/svg/arrow-blue.svg");
                background-size: cover;
                background-position: center center;

                transform: rotate(-180deg);
            }
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                padding: 10px 25px;

                border: 1px solid transparentize($primary-blue, $amount: 0.94);

                a {
                    color: $primary-blue;
                }
            }
        }
    }

    &__maps {
        justify-self: end;
        align-self: flex-end;

        height: 480px;
        img {
            height: 100%;

            object-fit: contain;

            border: 1px solid $top-nav-border;

            box-shadow: 0 4px 2px -2px $gray;
        }
    }
}
