.hero-small {
  position: relative;
  margin-bottom: 5rem;

  &__container {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 29rem;
    background-image: linear-gradient(
        to bottom,
        transparentize($hero-bg, $amount: 0.4),
        $hero-bg
      ),
      url("../../assets/img/hero-visual@2x.png");
    background-size: cover;

    position: absolute;
    z-index: -19;
  }
  &__text {
    padding-top: 10rem;
    color: $white;
    h1 {
      font-size: 2.4rem;
      font-family: STIXGeneral;
      line-height: 1.3;
    }

    & > p {
      line-height: 1.7;
      margin-top: 1rem;
    }

    &__list {
      display: flex;
      margin: 2rem 0 6rem;

      li {
        position: relative;
        padding-left: 30px;
        &::before {
          position: absolute;
          left: 0;
          top: 0;

          content: "";

          display: inline-block;
          width: 20px;
          height: 20px;

          // background: $white;
          background-image: url("../../assets/svg/check.svg");
          background-size: cover;
        }
      }

      li:not(:nth-of-type(1)) {
        margin-left: 3rem;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 1fr;

    aside {
      margin-right: 4rem;
    }
    &__item {
      &:nth-of-type(2) {
        grid-row-start: 1;
        grid-row-end: 6;
        grid-column-start: 2;
      }
      &__card {
        background: $white;
        color: $footer-text;
        width: 350px;

        padding: 20px 34px;
        margin-bottom: 2rem;
        margin-right: 2rem;

        border-radius: 3px;
        border: 1px solid $top-nav-border;

        box-shadow: 0 4px 2px -2px $gray;

        p {
          line-height: 1.5;
        }

        h3 {
          color: $black;
          margin-bottom: 1rem;
        }

        button {
          position: relative;
          display: inline-block;
          width: 100%;
          padding: 20px 0;
          margin: 2rem 0 0.5rem;

          background: transparentize($primary-blue, $amount: 0.94);
          color: $primary-blue;

          border: none;
          border-radius: 3px;

          &::after {
            content: "";

            position: absolute;
            display: inline-block;
            height: 10px;
            width: 10px;
            margin-left: 1rem;

            background-image: url("../../assets/svg/arrow-blue.svg");
            background-size: cover;
            background-repeat: no-repeat;

            top: 50%;
            transform: translateY(-50%) rotate(180deg);
          }
        }

        .appointment-list {
          display: grid;
          grid-template-columns: 1fr 1fr;

          li {
            text-align: center;

            &:nth-of-type(1) {
              padding-right: 0.25rem;
            }

            &:nth-of-type(2) {
              padding-left: 0.25rem;
            }
          }

          a {
            display: inline-block;
            width: 100%;

            padding: 15px 0;
            border: 1px solid transparentize($primary-blue, $amount: 0.8);
            border-radius: 3px;

            color: $primary-blue;
          }
        }
      }

      &__promotion {
        background: $white;
        padding: 25px 35px;
        margin-bottom: 2rem;

        border-radius: 3px;
        border: 1px solid $top-nav-border;

        box-shadow: 0 4px 2px -2px $gray;

        h3 {
          margin: 0.5rem 0;
        }
      }
      .card-news {
        width: 350px;

        .filter-options {
          li {
            line-height: 1.8;
          }
        }
      }
    }
  }

  &__card {
    width: 400px;
    background: $white;
    border: 1px solid $top-nav-border;
    border-radius: 3px;

    box-shadow: 0 4px 2px -2px $gray;

    padding: 20px;

    p {
      color: lighten($text-blue, $amount: 25);
      line-height: 1.5;
    }

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding: 12px 15px;

        border: 1px solid transparentize($primary-blue, $amount: 0.94);

        flex: 1;

        text-align: center;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        a {
          color: $primary-blue;
        }
      }
    }
  }

  &__maps {
    justify-self: flex-end;
    align-self: flex-end;

    height: 500px;

    border: 1px solid $top-nav-border;

    box-shadow: 0 4px 2px -2px $gray;

    img {
      height: 100%;

      object-fit: contain;
    }
  }
}
